<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AppleIDPB10Presented</key>
    <true/>
    <key>ApplicationSwitcherOnBoardingPresented</key>
    <true/>
    <key>AssistantPresented</key>
    <true/>
    <key>AutoUpdatePresented</key>
    <true/>
    <key>ControlCenterOnBoardingPresented</key>
    <true/>
    <key>DockOnBoardingPresented</key>
    <true/>
    <key>GuessedCountry</key>
    <dict>
        <key>at</key>
        <date>2020-04-27T10:15:47Z</date>
        <key>countries</key>
        <array>
            <string>CN</string>
        </array>
    </dict>
    <key>HSA2UpgradeMiniBuddy3Ran</key>
    <true/>
    <key>Language</key>
    <string>en-US</string>
    <key>Locale</key>
    <string>en_US</string>
    <key>Mesa2Presented</key>
    <true/>
    <key>PBDiagnostics4Presented</key>
    <true/>
    <key>Passcode4Presented</key>
    <true/>
    <key>PaymentMiniBuddy4Ran</key>
    <true/>
    <key>PrivacyContentVersion</key>
    <integer>2</integer>
    <key>PrivacyPresented</key>
    <true/>
    <key>RestoreChoice</key>
    <true/>
    <key>ScreenTimePresented</key>
    <true/>
    <key>SetupDone</key>
    <true/>
    <key>SetupFinishedAllSteps</key>
    <true/>
    <key>SetupLastExit</key>
    <date>2020-04-27T10:18:50Z</date>
    <key>SetupState</key>
    <string>SetupUsingAssistant</string>
    <key>SetupVersion</key>
    <integer>11</integer>
    <key>SiriOnBoardingPresented</key>
    <true/>
    <key>UserChoseLanguage</key>
    <true/>
    <key>UserInterfaceStyleModePresented</key>
    <true/>
    <key>WebDatabaseDirectory</key>
    <string>/var/mobile/Library/Caches</string>
    <key>WebKitAcceleratedDrawingEnabled</key>
    <false/>
    <key>WebKitLocalStorageDatabasePathPreferenceKey</key>
    <string>/var/mobile/Library/Caches</string>
    <key>WebKitOfflineWebApplicationCacheEnabled</key>
    <true/>
    <key>WebKitShrinksStandaloneImagesToFit</key>
    <true/>
    <key>chronicle</key>
    <dict>
        <key>features</key>
        <array/>
    </dict>
    <key>lastPrepareLaunchSentinel</key>
    <array>
        <date>2020-04-27T10:19:47Z</date>
        <integer>0</integer>
    </array>
    <key>setupMigratorVersion</key>
    <integer>10</integer>
</dict>
</plist>